Repository mehah/otclient, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Source, Area: Datapack

fix #318
  src/client/thing.cpp
Labels: Area: Source

fix #320
  src/client/mapview.cpp
  src/client/mapview.h
  src/framework/graphics/drawpoolmanager.cpp
  src/framework/graphics/drawpoolmanager.h
Labels: Area: Source

small fix #320
  src/client/mapview.cpp
Labels: Area: Source

added some market backwards compatability
  modules/game_market/marketprotocol.lua
  src/client/protocolgamesend.cpp
Labels: Area: Source

made Refresh Offers button refresh the tab that was last clicked.
  modules/game_market/market.lua
Labels: none

missed conflict
  src/client/protocolgame.h
Labels: Area: Source

added game imbuing
  data/images/game/imbuing/100percent.png
  data/images/game/imbuing/clear.png
  data/images/game/imbuing/imbue_empty.png
  data/images/game/imbuing/imbue_green.png
  data/images/game/imbuing/slot.png
  data/images/game/imbuing/slot_disabled.png
  data/images/game/imbuing/slot_inactive.png
  modules/game_imbuing/imbuing.lua
  modules/game_imbuing/imbuing.otmod
  modules/game_imbuing/imbuing.otui
  src/client/game.cpp
  src/client/game.h
  src/client/luafunctions.cpp
  src/client/luavaluecasts.cpp
  src/client/luavaluecasts.h
  src/client/protocolcodes.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
  src/client/thingtype.h
Labels: Area: Source, Area: Datapack

forgot to make game_imbuing load automatically.
  modules/game_interface/interface.otmod
Labels: none

cleanup/fix warning
  src/client/const.h
  src/client/game.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/thingtype.h
Labels: Area: Source

Fix market, added market history (#319)
  modules/game_market/market.lua
  modules/game_market/marketprotocol.lua
  modules/game_market/ui/myoffers/offerhistory.otui
  modules/gamelib/const.lua
  modules/gamelib/market.lua
  src/client/const.h
  src/client/game.cpp
  src/client/game.h
  src/client/localplayer.cpp
  src/client/localplayer.h
  src/client/luafunctions.cpp
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
  src/client/thingtype.h
Labels: Area: Source

cleanup
  src/framework/graphics/drawpool.cpp
  src/framework/graphics/drawpool.h
Labels: Area: Source

fix #324, maybe to #325
  src/framework/graphics/drawpool.cpp
  src/framework/graphics/drawpool.h
Labels: Area: Source

fix #325
  src/client/tile.cpp
Labels: Area: Source

fix #322
  src/framework/ui/uiwidget.cpp
  src/framework/ui/uiwidget.h
Labels: Area: Source

fixed conflict and cleaned up code.
  src/client/luafunctions.cpp
  src/client/protocolgameparse.cpp
Labels: Area: Source

added game imbuing (#323)
  data/images/game/imbuing/100percent.png
  data/images/game/imbuing/clear.png
  data/images/game/imbuing/imbue_empty.png
  data/images/game/imbuing/imbue_green.png
  data/images/game/imbuing/slot.png
  data/images/game/imbuing/slot_disabled.png
  data/images/game/imbuing/slot_inactive.png
  modules/game_imbuing/imbuing.lua
  modules/game_imbuing/imbuing.otmod
  modules/game_imbuing/imbuing.otui
  modules/game_interface/interface.otmod
  src/client/game.cpp
  src/client/game.h
  src/client/luafunctions.cpp
  src/client/luavaluecasts.cpp
  src/client/luavaluecasts.h
  src/client/protocolcodes.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
  src/client/thingtype.h
Labels: Area: Source, Area: Datapack

fix compile error/cleanup
  src/client/creature.h
  src/client/game.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
Labels: Area: Source

fix #322
  src/framework/ui/uiwidget.cpp
  src/framework/ui/uiwidget.h
Labels: Area: Source

font not found
  data/fonts/cipsoftFont.otfont
  data/fonts/cipsoftFont.png
Labels: Area: Datapack

fix identation errors
  modules/game_prey/prey.otui
Labels: none

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Fix prey errors (#327)
  data/fonts/cipsoftFont.otfont
  data/fonts/cipsoftFont.png
  modules/game_prey/prey.otui
Labels: Area: Datapack

string_view to std::string
  src/client/protocolgameparse.cpp
  src/client/thingtype.h
Labels: Area: Source

whitespace cleanup
  src/client/config.h
  src/client/const.h
  src/client/game.cpp
  src/client/localplayer.cpp
  src/client/spriteappearances.cpp
  src/framework/graphics/apngloader.cpp
  src/framework/graphics/bitmapfont.cpp
  src/framework/luaengine/luainterface.cpp
  src/framework/luaengine/luavaluecasts.h
  src/framework/net/connection.cpp
  src/framework/net/protocol.cpp
  src/framework/net/protocolhttp.cpp
  src/framework/stdext/math.h
  src/framework/ui/uitextedit.cpp
  src/framework/util/color.cpp
  src/framework/xml/tinyxml.h
Labels: Area: Source

minimized lag with vsync enabled
  src/framework/core/graphicalapplication.cpp
  src/framework/graphics/drawpool.cpp
  src/framework/graphics/drawpool.h
  src/framework/graphics/drawpoolmanager.cpp
  src/framework/graphics/drawpoolmanager.h
  src/framework/platform/platformwindow.h
  src/framework/platform/win32window.cpp
  src/framework/platform/x11window.cpp
Labels: Area: Source

my mistake
  src/framework/core/graphicalapplication.cpp
Labels: Area: Source

better FPS control
  src/framework/core/adaptativeframecounter.cpp
  src/framework/core/adaptativeframecounter.h
  src/framework/core/graphicalapplication.cpp
Labels: Area: Source

cleanup fps control
  src/framework/core/adaptativeframecounter.cpp
  src/framework/core/adaptativeframecounter.h
Labels: Area: Source

lua cleanup
  modules/client_background/background.lua
  modules/client_entergame/entergame.lua
  modules/client_locales/neededtranslations.lua
  modules/client_options/options.lua
  modules/client_topmenu/topmenu.lua
  modules/corelib/keyboard.lua
  modules/corelib/mouse.lua
  modules/game_actionbar/game_actionbar.lua
  modules/game_battle/battle.lua
  modules/game_combatcontrols/combatcontrols.lua
  modules/game_cooldown/cooldown.lua
  modules/game_healthinfo/healthinfo.lua
  modules/game_imbuing/imbuing.lua
  modules/game_imbuing/imbuing.otui
  modules/game_interface/gameinterface.lua
  modules/game_interface/widgets/uiitem.lua
  modules/game_inventory/inventory.lua
  modules/game_market/market.lua
  modules/game_market/marketprotocol.lua
  modules/game_outfit/outfit.lua
  modules/game_prey/prey.lua
  modules/game_prey/prey.otui
  modules/game_shaders/shaders.lua
  modules/game_skills/skills.lua
  modules/game_unjustifiedpoints/unjustifiedpoints.lua
  modules/game_viplist/viplist.lua
  modules/gamelib/const.lua
  modules/gamelib/game.lua
  modules/gamelib/market.lua
Labels: none

fix private message in old protocols
  modules/game_console/console.lua
  src/client/protocolgameparse.cpp
Labels: Area: Source

force map repaint cleanup
  src/framework/core/graphicalapplication.cpp
  src/framework/graphics/drawpoolmanager.cpp
  src/framework/graphics/drawpoolmanager.h
Labels: Area: Source

Enable build ccache sonar, update dockerfile
  .github/workflows/analysis-sonarcloud.yml
  Dockerfile
Labels: none

Enable build ccache sonar, update dockerfile (#283)
  .github/workflows/analysis-sonarcloud.yml
  Dockerfile
Labels: none

cleanup/1
  src/client/creature.cpp
  src/client/creature.h
  src/client/creatures.h
  src/client/effect.h
  src/client/game.h
  src/client/item.cpp
  src/client/item.h
  src/client/localplayer.h
  src/client/mapview.h
  src/client/minimap.h
  src/client/outfit.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/shadermanager.h
  src/client/spritemanager.h
  src/client/thing.h
  src/client/thingtype.h
  src/client/tile.h
  src/client/uiitem.h
  src/client/uimap.h
  src/framework/graphics/drawpool.cpp
  src/framework/graphics/drawpoolmanager.cpp
Labels: Area: Source

cleanup/2
  src/client/animator.cpp
  src/client/creature.cpp
  src/client/creature.h
  src/client/creatures.cpp
  src/client/creatures.h
  src/client/game.cpp
  src/client/houses.cpp
  src/client/item.cpp
  src/client/lightview.cpp
  src/client/localplayer.cpp
  src/client/map.cpp
  src/client/map.h
  src/client/mapio.cpp
  src/client/mapview.cpp
  src/client/minimap.cpp
  src/client/outfit.cpp
  src/client/position.h
  src/client/protocolcodes.cpp
  src/client/protocolgame.h
  src/client/protocolgamesend.cpp
  src/client/spriteappearances.cpp
  src/client/spritemanager.cpp
  src/client/thingtype.cpp
  src/client/thingtypemanager.cpp
  src/client/uimapanchorlayout.h
Labels: Area: Source

Change autowalk function
  src/client/game.cpp
  src/client/game.h
  src/client/localplayer.cpp
  src/client/localplayer.h
Labels: Area: Source

fix map repaint
  src/framework/core/graphicalapplication.cpp
Labels: Area: Source

cleanup
  src/client/game.cpp
  src/client/game.h
  src/client/localplayer.cpp
  src/client/localplayer.h
Labels: Area: Source

Will no longer stop when player collide with a creature. (#330)
  src/client/game.cpp
  src/client/game.h
  src/client/localplayer.cpp
Labels: Area: Source

cleanup/4
  src/framework/core/adaptativeframecounter.cpp
  src/framework/core/binarytree.cpp
  src/framework/core/config.cpp
  src/framework/core/configmanager.cpp
  src/framework/core/eventdispatcher.cpp
  src/framework/core/filestream.cpp
  src/framework/core/module.cpp
  src/framework/core/modulemanager.cpp
  src/framework/core/resourcemanager.cpp
  src/framework/graphics/bitmapfont.cpp
  src/framework/graphics/fontmanager.cpp
  src/framework/graphics/framebuffer.cpp
  src/framework/graphics/graphics.cpp
  src/framework/graphics/image.cpp
  src/framework/graphics/particle.cpp
  src/framework/graphics/particlemanager.cpp
  src/framework/graphics/shader.cpp
  src/framework/graphics/texturemanager.cpp
Labels: Area: Source

.github/labeler.yml:

---
"Area: Source":
  - any: ['src/**/*']

"Area: Datapack":
  - any: ['data/**/*']
