Repository mehah/otclient, pull requests merged in 2022-08, with the labels that each got.

#313 Removed method exception
  src/client/creatures.cpp
  src/client/game.cpp
  src/client/houses.cpp
  src/client/item.cpp
  src/client/mapio.cpp
  src/client/minimap.cpp
  src/client/protocolgameparse.cpp
  src/client/spritemanager.cpp
  src/client/thingtype.cpp
  src/client/thingtypemanager.cpp
  src/framework/core/binarytree.cpp
  src/framework/core/filestream.cpp
  src/framework/core/module.cpp
  src/framework/core/resourcemanager.cpp
  src/framework/graphics/image.cpp
  src/framework/graphics/particleeffect.cpp
  src/framework/graphics/particleemitter.cpp
  src/framework/graphics/particletype.cpp
  src/framework/sound/soundfile.cpp
  src/framework/stdext/exception.h
  src/framework/stdext/string.cpp
  src/framework/ui/uimanager.cpp
  src/framework/ui/uiwidget.cpp
Labels: Area: Source

#312 Fix Encryption by default + adds switch to disable encrypting if desired
  README.md
  src/client/config.h
  src/main.cpp
Labels: Area: Source

#319 Fix market, added market history
  modules/game_market/market.lua
  modules/game_market/marketprotocol.lua
  modules/game_market/ui/myoffers/offerhistory.otui
  modules/gamelib/const.lua
  modules/gamelib/market.lua
  src/client/const.h
  src/client/game.cpp
  src/client/game.h
  src/client/localplayer.cpp
  src/client/localplayer.h
  src/client/luafunctions.cpp
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
  src/client/thingtype.h
Labels: Area: Source

#321 Game prey draft
  data/images/game/prey/prey_bigdamage.png
  data/images/game/prey/prey_bigdefense.png
  data/images/game/prey/prey_biginactive.png
  data/images/game/prey/prey_bigloot.png
  data/images/game/prey/prey_bignobonus.png
  data/images/game/prey/prey_bigxp.png
  data/images/game/prey/prey_bonus_reroll.png
  data/images/game/prey/prey_choose.png
  data/images/game/prey/prey_damage.png
  data/images/game/prey/prey_defense.png
  data/images/game/prey/prey_gold.png
  data/images/game/prey/prey_inactive.png
  data/images/game/prey/prey_loot.png
  data/images/game/prey/prey_no_bonus.png
  data/images/game/prey/prey_nostar.png
  data/images/game/prey/prey_perm.png
  data/images/game/prey/prey_perm_test.png
  data/images/game/prey/prey_reroll.png
  data/images/game/prey/prey_reroll_blocked.png
  data/images/game/prey/prey_select.png
  data/images/game/prey/prey_select_blocked.png
  data/images/game/prey/prey_smallstore.png
  data/images/game/prey/prey_star.png
  data/images/game/prey/prey_temp.png
  data/images/game/prey/prey_temp_test.png
  data/images/game/prey/prey_wildcard.png
  data/images/game/prey/prey_xp.png
  data/images/topbuttons/prey.png
  data/images/topbuttons/prey_window.png
  data/images/topbuttons/shop.png
  modules/game_interface/gameinterface.lua
  modules/game_interface/interface.otmod
  modules/game_prey/prey.lua
  modules/game_prey/prey.otmod
  modules/game_prey/prey.otui
  modules/gamelib/const.lua
  src/client/const.h
  src/client/game.cpp
  src/client/game.h
  src/client/localplayer.cpp
  src/client/luafunctions.cpp
  src/client/protocolcodes.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
Labels: Area: Source, Area: Datapack

#323 added game imbuing
  data/images/game/imbuing/100percent.png
  data/images/game/imbuing/clear.png
  data/images/game/imbuing/imbue_empty.png
  data/images/game/imbuing/imbue_green.png
  data/images/game/imbuing/slot.png
  data/images/game/imbuing/slot_disabled.png
  data/images/game/imbuing/slot_inactive.png
  modules/game_imbuing/imbuing.lua
  modules/game_imbuing/imbuing.otmod
  modules/game_imbuing/imbuing.otui
  modules/game_interface/interface.otmod
  src/client/game.cpp
  src/client/game.h
  src/client/luafunctions.cpp
  src/client/luavaluecasts.cpp
  src/client/luavaluecasts.h
  src/client/protocolcodes.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
  src/client/thingtype.h
Labels: Area: Source, Area: Datapack

#327 Fix prey errors
  data/fonts/cipsoftFont.otfont
  data/fonts/cipsoftFont.png
  modules/game_prey/prey.otui
Labels: Area: Datapack

#283 Enable caching for sonarcloud and update Docker
  .github/workflows/analysis-sonarcloud.yml
  Dockerfile
Labels: Stale

#330 Change autowalk function
  src/client/game.cpp
  src/client/game.h
  src/client/localplayer.cpp
Labels: Area: Source
