Repository mehah/otclient, pull requests merged in 2023-05, with the labels that each got.

#532 improve: module controller
  modules/game_attachedeffects/attachedeffects.lua
  modules/game_minimap/minimap.lua
  modules/game_outfit/outfit.lua
  modules/gamelib/controller.lua
  src/framework/core/module.cpp
  src/framework/core/modulemanager.h
  src/framework/luafunctions.cpp
Labels: Area: Source

#534 feat: config default font to creature/static-text/animated-text/widget text
  README.md
  init.lua
  modules/client/client.otmod
  modules/client_config/config.lua
  modules/client_config/config.otmod
  src/client/animatedtext.cpp
  src/client/creature.cpp
  src/client/statictext.cpp
  src/framework/graphics/cachedtext.cpp
  src/framework/graphics/fontmanager.cpp
  src/framework/graphics/fontmanager.h
  src/framework/luafunctions.cpp
  src/framework/ui/uiwidgettext.cpp
Labels: Area: Source

#538 feat: compatibility with 13.16
  data/setup.otml
  modules/client_entergame/entergame.lua
  modules/corelib/http.lua
  modules/game_features/features.lua
  modules/gamelib/const.lua
  modules/gamelib/game.lua
  src/client/const.h
  src/client/protocolcodes.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/framework/net/protocolhttp.cpp
  src/framework/net/protocolhttp.h
Labels: Area: Source, Area: Datapack

#539 fix: mapmarks images order
  data/images/game/minimap/flag10.png
  data/images/game/minimap/flag11.png
  data/images/game/minimap/flag12.png
  data/images/game/minimap/flag13.png
  data/images/game/minimap/flag14.png
  data/images/game/minimap/flag15.png
  data/images/game/minimap/flag16.png
  data/images/game/minimap/flag17.png
  data/images/game/minimap/flag18.png
  data/images/game/minimap/flag7.png
  data/images/game/minimap/flag8.png
  data/images/game/minimap/flag9.png
Labels: Area: Datapack
