Repository mehah/otclient, pull requests merged in 2024-03, with the labels that each got.

#701 fix: protocol error in NPC trade
  src/client/protocolgameparse.cpp
Labels: Stale

#647 improve: https/http login
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build-windows.yml
  Dockerfile
  cmake/FindOpenSSL.cmake
  cmake/FindZLIB.cmake
  data/locales/pt.lua
  modules/client_entergame/characterlist.otui
  modules/client_entergame/entergame.lua
  modules/client_entergame/entergame.otui
  modules/client_serverlist/addserver.lua
  modules/client_serverlist/serverlist.lua
  modules/corelib/http.lua
  src/CMakeLists.txt
  src/framework/luafunctions.cpp
  src/framework/net/httplogin.cpp
  src/framework/net/httplogin.h
  src/framework/net/protocolhttp.cpp
  src/framework/pch.h
  src/framework/stdext/uri.cpp
  src/protobuf/appearances.pb.h
  vc17/otclient.vcxproj
  vc17/otclient.vcxproj.filters
  vc17/settings.props
  vcpkg.json
Labels: Area: Source

#552 improve: add almost all missing spell group cooldown; add missing spells from …
  data/images/game/spells/cooldowns.png
  data/images/game/spells/defaultspells.png
  modules/game_cooldown/cooldown.lua
  modules/game_cooldown/cooldown.otui
  modules/gamelib/spells.lua
Labels: Area: Datapack

#582 feat: Typing Icon
  README.md
  data/images/game/console/typing.png
  data/setup.otml
  modules/game_console/console.lua
  modules/game_console/console.otui
  src/client/creature.cpp
  src/client/creature.h
  src/client/game.cpp
  src/client/game.h
  src/client/gameconfig.cpp
  src/client/gameconfig.h
  src/client/luafunctions.cpp
  src/client/protocolcodes.h
  src/client/protocolgame.h
  src/client/protocolgameparse.cpp
  src/client/protocolgamesend.cpp
Labels: Area: Source, Stale, Area: Datapack
